<ion-header>
  <ion-toolbar color="primary">
    <ion-title>App tracking background</ion-title>
    <!-- <ion-buttons slot="primary">
        <ion-toggle color="success" (click)="prueba()"></ion-toggle>
    </ion-buttons> -->
    <ion-buttons slot="primary">
        <ion-button slot="secondary" (click)="startBackgroundGeolocation()">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>
        <ion-button slot="primary" (click)="stopBackgroundGeolocation()">
          <ion-icon slot="icon-only" name="pause"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>
    Enabled: {{ state }}
  </p>
  <ion-list>
    <ion-item *ngFor="let log of logs">
      {{ log }}
    </ion-item>
  </ion-list>
</ion-content>
